table {
    width: 100%; 
    border-collapse: collapse; 
    
    
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left; 
  }
  
  th {
    background-color: blue; 
    color: white; 
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2; 
  }
  
  tr:hover {
    background-color: #ddd;
}
  
main{
    border: 1px solid;
    width: 400px;
    margin:auto;
    height: 400px;
}
button{
    color: white;
    background-color: blue;
    transition: all;
    margin-top: 10px;
    width: 100px;

}
footer{
    border: 1px solid;
    margin:auto;
    width: 100px;
    margin-top: 25px;
}
section{
   
    width: 70px;
    margin: auto;
    margin-top: 10px;

}
input{
    width: 100px;
    border-radius: 5px;
}