main{
    border: 1px solid;
    width:  900px;
    height: 800px;
    margin: auto;

}
header{
    
    width: 888px;
    height: 152px;
    border-radius: 10px 10px 0px 0px;
    margin: auto;
    background-color: grey;
    clear: both;
   

    
}
nav{
    
    width: 888px;
    height: 50px;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    background-color: rgb(24,74,72);
    clear: both;
    text-align: left;
    text-decoration-color: black;
    

}

section{
   
    width: 620px;
    height: 260px;
    float: left;
    border-radius: 50px;
    margin: auto;
    margin-top: 10px;
}
article{
 
    width: 600px;
    height: 120px;
    margin : 5px 5px 5px 5px;
    border-radius: 50px;
    margin: auto;
    margin-top: 5px;
   background-color: rgb(240,240,96);
}
aside{
    border: 1px solid red ;
    width: 250px;
    height: 255px;
    float: right;
    margin-right: 5px;
    margin-top: 20px;
    border-radius: 50px;
    margin: auto;
    margin-top: 10px;
}
footer{
    border: 1px solid red;
    width: 900px;
    clear: both;
    height: 50px;
    border-radius: 50px;
    margin: auto;
    margin-top: 50px;

}
