main{
    border: 2px solid;
    border-color: #000 #000 #000 #000;
    margin: 10px;
    height: 800px;
}
header{
    border:  1px solid black;
    margin: 500px;
    height: 500px;
    margin-top: 400px;
    position: relative;
    top: auto;
    right: 480px;
    margin-top: 20px;
    border-radius: 30px;
    @keyframes moverDerecha {
        0%{
            transform: translatex(0);
        }
        100%{
            transform: translatex(300px);
        }
        
    }

    
    
}